{%extends 'layout.html'%} {%block content%}
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">order details  </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/sign_out">sign out</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/cart">my cart</a></li>
      <li><a href="/order_history">order history </a></li>
      <li><a href="/edit_account_details">edit account details</a></li>
    </ul>
  </div>
</nav> 
<form action="/order_details" method="GET">   
<h2>your order details </h2>
<h5 style="margin-left: 5px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <div>order number : {{delivery.id}}</div>
  <div>order date : {{delivery.created}}</div>
  <div>total price to pay : {{delivery.total_price}}</div>
  </h5>
</form>
<form action="/order_details" method="GET">
  <a  href="/categories" class="waves-effect waves-light btn" style="border-radius: 10px;">continue shopping </a>
  {%endblock%}   

