{%extends 'layout.html'%} {%block content%}
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">{{category.name }}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/sign_out">sign out</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/cart">my cart</a></li>
      <li><a href="/order_history">order history </a></li>
      <li><a href="/edit_account_details">edit account details</a></li>
    </ul>
  </div>
</nav>

{%for dish in category.dishes%}
<a href="{{url_for('site.show_dish',id=dish.id)}}">
  <div style="width: 400px;">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{dish.image}}" />
        </div>
        <div class="card-action">
          <div>{{dish.name}}</div>
        </div> 
      </div>
    </div>
  </div> 
</a>
{%endfor%} {%endblock%}
