{%extends 'layout.html'%} {%block content%}
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">{{category.name }}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/sign_out">sign out</a></li>
        <li><a href="/staff_categories">Change Categories</a></li>
        <li><a href="/orders_manage">manage orders</a></li> 
        <li><a href="/main_staff">main staff</a></li>       
    </ul>
  </div>
</nav>
<h5><a href="{{url_for('staff.add_dish',id=category.id)}}">Add dish to this category  </a></h5>

{%for dish in category.dishes%}
  <div style="width: 400px;">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{dish.image}}" />
        </div>
        <div class="card-action">
          <div> {{dish.name}} </br> </div>
          <a >price : {{dish.price}} $ </br> </a>
          <a>{{dish.description}}</a>
          
        </div> 
      </div>
    </div>
  </div> 
<div><a href="{{url_for('staff.delite_dish',id=dish.id)}}">delite {{dish.name}}</a></div>
<div><a href="{{url_for('staff.edit_dish',id=dish.id)}}">edit {{dish.name}} </a></div>
{%endfor%} {%endblock%} 
