{%extends 'layout.html'%} {%block content%}

<nav>
    <div class="nav-wrapper">
      <a class="brand-logo">staff_Categories</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/sign_out">sign out</a></li>
        <li><a href="/staff_categories">Change Categories</a></li>
        <li><a href="/orders_manage">manage orders</a></li> 
        <li><a href="/main_staff">main staff</a></li>       
      </ul>
    </div>
  </nav> 
  <h3>Hi {{user.first_name}} {{user.last_name}} ! 
  </h3>
  <h5>for delite dishes or adding dishes or editing , <br/>
    please enter one of the categories below</h5>
  <h5><a href="/add_category">Add category </a></h5> 
  {%for category in category%}
  <div style="width: 400px;">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{category.image}}" />
        </div>
        <div class="card-action">
          <a href="{{url_for('staff.staff_show_category_dishes',id=category.id)}}"
            >{{category.name}}</a
          >
          <div style="margin-bottom: 20px;margin-left: 5px;"> 
            <div><a style="color: blue;"  href="{{url_for('staff.delite_category',id=category.id)}}">delite {{category.name}}</a></div>
            <div><a style="color: blue;"  href="{{url_for('staff.edit_category',id=category.id)}}">edit {{category.name}} </a></div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</div> 

  {%endfor%} {%endblock%} 
  