{%extends 'layout.html'%} {%block content%}

<nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Categories</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/sign_out">sign out</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/cart">my cart</a></li>
        <li><a href="/order_history">order history </a></li>
        <li><a href="/edit_account_details">edit account details</a></li>
    
      </ul>
    </div>
  </nav> 
  <h3>Hi {{user.first_name}} {{user.last_name}} ! please choose what to order 
  </h3>
  {%for category in category%}
  <div style="width: 400px;">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{category.image}}" />
        </div>
        <div class="card-action">
          <a href="{{url_for('show_category_dishes',id=category.id)}}"
            >{{category.name}}</a
          >

        </div> 
      </div>
    </div>
  </div>
</div> 
  
  {%endfor%} {%endblock%} 
  