{%extends 'layout.html'%} {%block content%}

<nav>
    <div class="nav-wrapper">
      <a class="brand-logo">delite dish</a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/sign_out">sign out</a></li>
        <li><a href="/staff_categories">Change Categories</a></li>
        <li><a href="">m</a></li>
        <li><a href="">Staff</a></li>
      </ul>
    </div>
  </nav>  
  <form action="{{url_for('delite_dish',id=dish.id)}}" method="POST">
    <h5>if u sure you want to delite {{dish.name}} press delite</h5>  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
  >
    <i class="material-icons right">delite dish </i>
  </button>
  </form>
  {%endblock%} 